
<div class="row">
	<div class="col-md-4 col-md-offset-4 center">
		<%= gravatar_for @user, size: 140 %>
	</div>	
</div>
<h2 align="center"><%=@user.username %></h2>
<h4 align="center"><%=@user.email %> </h4>
<div align="center">
  <%= will_paginate @user_feedbacks%>
</div>
<%= render 'feedbacks/feedback', obj: @user_feedbacks %>