<%= render 'shared/errors', obj: @feedback %>


<div class="row">
  <div class="col-xs-12">
    <%= form_for @feedback, :html => {class: "form-horizontal", role: "form"} do |f| %>   

    <div class="form-group">
      <div class="control-label col-sm-2">    
        <%= f.label :Тип %>
      </div>
      <div class="col-sm-8">  

      <%= f.select :typefeedback, options_for_select(['Идея', 'Сообщение об ошибке', 'Вопрос', 'Благодарность'], f.object.typefeedback), {}, {class: "form-control selectpicker"} %> 

      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-2">  
        <%= f.label :Заголовок %>
      </div>
      <div class="col-sm-8">
       <%= f.text_field :title, class: "form-control",  placeholder: "Заголовок отзыва"%>
     </div>
   </div>
   <div class="form-group">
    <div class="control-label col-sm-2"> 
      <%= f.label :Описание %>
    </div>
    <div class="col-sm-8">
      <%= f.text_area :description,  rows: 6, class: "form-control",  placeholder: "Опишите свою идею или оибку в приложении"%>
    </div>
  </div>
  

  <div class="form-group">
    <div class="row">
    
      <div class="col-sm-offset-2 col-sm-8"> 
       <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |cb| %>

          <%= cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>

        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-10"> 
      <%= f.submit "Отправить", class: "btn btn-primary btn-large " %>

    </div>
  </div>
</p>
<% end %>
</div>
</div>